html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

li {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}