/* Black Background */

.main-bg {
    width: 100vw;
    height: 100vh;
    @mixin atMedium {
        background: linear-gradient(90deg, #1B1B1D 52.3%, #111014 47.7%);
    }
}


/* <!-- 2 Background shadows --> */

.bg-overlay {
    position: fixed;
    display: flex;
    .line-1 {
        width: 1px;
        margin-left: 131px;
        height: 100vh;
        background: #3F3F3F;
    }
    .line-2 {
        width: 1px;
        margin-left: 245px;
        height: 100vh;
        background: #3F3F3F;
    }
}


/* main section */

.main-content {
    position: relative;
    z-index: 1;
    .row {
        display: flex;
        justify-content: space-between;
        padding-top: calc(173px - 88px);
    }
    /* Left Side Main H1 */
    .left {
        max-width: 367px;
        h1 {
            font-size: 54px;
            line-height: 80px;
            color: #FFFFFF;
            padding-bottom: 17px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            padding-bottom: 32px;
        }
        #contact-us {
            display: none;
            padding: 16px 32px;
            border: none;
            background: #E8183D;
            border-radius: 50px;
        }
    }
    /* Right Side Input Selector Options */
    .right {
        width: 688px;
        min-height: 508px;
        background-color: #FFFFFF;
    }
    .head {
        padding: 40px;
        border-bottom: 1px solid #DADADA;
        h2 {
            font-size: 34px;
            line-height: 54px;
            color: #111014;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #5B2222;
        }
    }
}


/* transmission-type Main page */

.transmission-type {
    display: block;
    h6 {
        font-weight: 700;
        font-size: 12px;
        line-height: 17px;
        color: #151514;
        padding-bottom: 16px;
    }
    h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #868686;
        padding-bottom: 20px;
    }
    .select-type {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid #DADADA;
    }
}

.transmission-type--is-hidden {
    display: none;
}


/* Select Transmission JS (Hide/Visible) */

.select-transmission {
    display: none;
    &--is-visible {
        display: block;
        margin-right: 37px;
    }
    h2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #151514;
        padding-bottom: 24px;
    }
    button {
        background-color: transparent;
        color: #151514;
        padding: 12px 28px;
        border: 1px solid #868686;
        margin-bottom: 20px;
        @mixin ss;
        &:hover {
            background-color: #e8183d;
            color: #fff;
        }
    }
}