.number-select {
    .number-box {
        display: flex;
        column-gap: 12px;
        padding-top: 24px;
        padding-bottom: 32px;
        h6 {
            font-weight: 700;
            font-size: 12px;
            line-height: 17px;
            color: #151514;
        }
        input {
            appearance: none;
            display: none;
        }
        input[type='radio']:checked+label {
            background-color: #e8183d;
            color: #fff;
        }
        label {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            padding: 11px;
            border: 1px solid #B2B2B3;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: #3F3F3F;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: all .3;
            &:hover {
                background-color: #e8183d;
                color: #fff;
            }
        }
    }
}