.site-header {
    padding-top: 20px;
    .row {
        @mixin d-flex;
        justify-content: flex-end;
        img {
            margin-right: auto;
        }
        a {
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            padding-right: 50px;
        }
        .last-a {
            padding-right: 39px;
        }
        #book-now {
            padding: 17px 37px 17px 38px;
        }
    }
}