    .wrapper {
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-width: 320px;
        @mixin atSmall {
            max-width: 530px;
        }
        @mixin atMedium {
            max-width: 768px;
        }
        @mixin atLarge {
            max-width: 1010px;
        }
        @mixin atLargest {
            max-width: 1200px;
        }
        &--form {
            margin: 40px 40px 0 40px;
        }
    }
    
    @define-mixin d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    
    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }